<div class="notificationContainer" *ngIf="success; else errorNotification" style="background-color: rgba(63, 139, 9, 0.842)">
  <div class="notificationContainerIcon">
    <mat-icon aria-hidden="false" aria-label="remove checkbox" fontIcon="done" class="notificationIcon" matTooltip="usun zadanie" matTooltipPosition="right"></mat-icon>
  </div>
  <div class="notificationContainerContent">
    <div class="notificationContentHeader">
        {{header}}
    </div>
    <div class="divider">

    </div>
    <div class="notificationContentText">
        {{message}}
    </div>
  </div>
</div>

<ng-template #errorNotification>
  <div class="notificationContainer" style="background-color: rgb(228, 54, 31);">
    <div class="notificationContainerIcon">
      <mat-icon aria-hidden="false" aria-label="remove checkbox" fontIcon="priority_high" class="notificationIcon" matTooltip="usun zadanie" matTooltipPosition="right"></mat-icon>
    </div>
    <div class="notificationContainerContent">
      <div class="notificationContentHeader">
        {{header}}
      </div>
      <div class="divider">

      </div>
      <div class="notificationContentText">
        {{message}}
      </div>
    </div>
  </div>
</ng-template>



