<div id="todoList">

  <div id="taskAddForm">
    <mat-form-field class="example-full-width" appearance="fill" id="taskNameInputContainer">
      <mat-label>Nazwa taska</mat-label>
      <input matInput placeholder="" value="" id="taskNameInput" #newTaskInput>
    </mat-form-field>

    <div id="buttonAddTaskContainer">
      <button mat-button color="primary" (click)="addTaskToList()" id="buttonAddTask">Add</button>
    </div>
  </div>

  <div id="taskList">
    <div class="taskListHeader">
      Lista zadań
    </div>
    <mat-divider class="taskListHeaderDivider"></mat-divider>
    <mat-list role="list">
      <app-todo-item-component [@enterAnimation] *ngFor="let element of getToDoList() | doneTasksFilter:false" [todoTask]="element" (editTaskDoneStatus)="onEditTaskDoneStatus($event)" (deleteTask)="onDeleteTask($event)" >

      </app-todo-item-component>
    </mat-list>

    <div *ngIf="(getToDoList() | doneTasksFilter:true).length > 0" [@enterAnimation]>
      <div class="taskListHeader">
        Zrobione
      </div>
      <div class="taskListHeaderDivider">
        <mat-divider ></mat-divider>
      </div>
    </div>

    <mat-list role="list">
      <app-todo-item-component [@enterAnimation] *ngFor="let element of getToDoList() | doneTasksFilter:true" [todoTask]="element" (editTaskDoneStatus)="onEditTaskDoneStatus($event)" (deleteTask)="onDeleteTask($event)" >

      </app-todo-item-component>
    </mat-list>
  </div>
</div>

<div id="notificationContainer">
  <ng-container #notificationContainer></ng-container>
</div>

