<div id="todoList">

  <div id="taskAddForm">
    <mat-form-field class="example-full-width" appearance="fill" id="taskNameInputContainer">
      <mat-label>Nazwa taska</mat-label>
      <input matInput placeholder="" value="" id="taskNameInput" #newTaskInput>
    </mat-form-field>

    <div id="buttonAddTaskContainer">
      <button mat-button color="primary" (click)="addTaskToList()" id="buttonAddTask">Add</button>
    </div>
  </div>

  <div id="taskList">
    <div id="taskListHeader">
      Lista zadań
    </div>
    <mat-divider id="taskListHeaderDivider"></mat-divider>
    <mat-list role="list">
      <app-todo-item-component *ngFor="let element of getToDoList() | doneTasksFilter" [todoTask]="element" (editTaskDoneStatus)="onEditTaskDoneStatus($event)" (deleteTask)="onDeleteTask($event)" >

      </app-todo-item-component>
    </mat-list>
  </div>
</div>

