

<div style="margin-left:5%; margin-top:5%;">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Nazwa taska</mat-label>
    <input matInput placeholder="" value="" #newTaskInput>
  </mat-form-field>

  <button mat-button color="primary" (click)="addElementToList()">Add</button>

  <mat-list role="list">
    <mat-list-item role="listitem" *ngFor="let element of getListOfElements()"> 
      <app-todo-item-component [todoElement]="element"></app-todo-item-component>
    </mat-list-item>
  </mat-list>
</div>

