<mat-list-item role="listitem" > 
    <div id="elementOfList">
        <div #todoCheckBox id="todoCheckBox" (mouseenter)="checkBoxMouseEnter()" (mouseleave)="checkBoxMouseLeave()" (click)="checkBoxClicked()">
            <mat-icon aria-hidden="false" aria-label="done checkbox" fontIcon="done" id="todoCheckBoxIcon"></mat-icon>
        </div>
        <div id="elementText">
            {{todoElement.name}}
        </div>
        <div id="todoRemoveButton" (click)="emitTaskToDelete()">
            <mat-icon aria-hidden="false" aria-label="remove checkbox" fontIcon="close" id="todoRemoveIcon"></mat-icon>
        </div>
    </div>
</mat-list-item>